@media (min-width:1025px) {
   /* big landscape tablets, laptops, and desktops */ 
  }

  @media (min-width:768px)  { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  
}


@media (max-width: 480px){

   html,body{
      overflow: auto;
      max-height: fit-content;
   }

   .hashTag{
      background: #FFFFFF;
      border-radius: 13px;
      border-width:20px;
      display: inline-block;
      height: 26px;
      line-height: 26px;
      padding: 0 5px 0 5px;
      position: relative;
      margin: 0 10px 10px 0;
      border: #C4C4C4;;
      border-style: solid;
      border-width: 0.5px;
      color: #901C1C;
      font-size: 11px;
    }

    .topTag{
      background: #FFFFFF;
      border-radius: 13px;
      border-width:20px;
      display: inline-block;
      height: 26px;
      width: auto;
      padding-left: 7px;
      padding-right: 7px;
      position: relative;
      margin: 0 10px 10px 0;
      border: #C4C4C4;;
      border-style: solid;
      border-width: 0.5px;
      color: #901C1C;
      font-size: 12px;
      margin-top: 11px;
    }

   .containerColumns{
      display: flex;
      flex-direction: column;
   }


   .containerColumnsPicture {
      display: flex;
      flex-direction: column;
   } 

}