@media (min-width:1025px) {
   /* big landscape tablets, laptops, and desktops */ 
  }

  @media (min-width:768px)  { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}


@media (max-width: 480px){
  /* *{
      outline: 2px solid red;
     }*/

   html,body{
      overflow: auto;
      max-height: fit-content;
   }

   .navigation {
      float: left;
      width: 40%;
      height: 20px;
  }

   .menu {
      display: flex;
      position: absolute;
  }

   .logo {
      width: 100px;
      height: auto;
      padding-left: 10px;
   }

   .hashTag{
      background: #FFFFFF;
      border-radius: 13px;
      border-width:20px;
      display: inline-block;
      height: 26px;
      line-height: 26px;
      padding: 0 5px 0 5px;
      position: relative;
      margin: 0 10px 10px 0;
      border: #C4C4C4;;
      border-style: solid;
      border-width: 0.5px;
      color: #901C1C;
      font-size: 11px;
    }

    .topTag{
      background: #FFFFFF;
      border-radius: 13px;
      border-width:20px;
      display: inline-block;
      height: 26px;
      width: auto;
      padding-left: 7px;
      padding-right: 7px;
      position: relative;
      margin: 0 10px 10px 0;
      border: #C4C4C4;;
      border-style: solid;
      border-width: 0.5px;
      color: #901C1C;
      font-size: 12px;
      margin-top: 11px;
    }

    h1{
      font-size: 16px;
      font-weight: 400;
      color: #901C1C;
      font-style: normal;
      display: flex;
      justify-content: flex-end;
  }
   #btnContainer{
    display: flex;
    margin-top: 50px;
    margin-left: -154px;
    flex-wrap: wrap;
    justify-content: center;
   }

  .containerFreelancers{
   margin-top: 100px;
   background-color: #FFFFFF;
   }

   .containerColumns{
      display: flex;
      flex-direction: column;
   }
   .contactButton{
      background-color: #901C1C; 
      border-color: #901C1C; 
      border-style: solid;
      border-radius: 5px;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      display: none;
      }

      .roundPictureIndividual {
         width: 99px;
         height: 99px;
         border-radius: 50%;
         display: block;
         margin-right: 25px;
         object-fit: cover;
     }

      .monoId{
         font-size: 18px;
         font-weight: 400;
         font-style: normal;
         color: #BF5138;
         text-align: left !important; /*Over writes*/
         margin-left: 25px !important;
         margin-top: 7px;
         margin-bottom: 7px;
       }

       .monoLocation{
         font-size: 12px !important;
         font-style: normal;
         font-weight: 400;
         color: #901C1C;
         margin-left: 25px !important;
         text-align: left !important; 
         margin-top: 1px !important;
         margin-bottom: 1px !important;
        }

        .monoDescription{
         font-size: 10px !important;
         font-style: normal;
         font-weight: 400;
         color: #525252;
         margin-left: 25px !important;
         text-align: left !important; 
         margin-top: 7px !important;
         margin-bottom: 7px !important;
       }
         .monotags{
            display: flex;
            margin-top: 50px;
            margin-left: -154px;
            flex-wrap: wrap;
            justify-content: center;
         }
   .containerColumnsPicture{
      display: flex;
      flex-direction: column;
    }

    .BackButton{
      width:300px;
      height:45px;
      background-color:#DB8876;
      color:#000000;
      border-radius:8px;
      text-align:center;
      box-shadow: 2px 2px 3px #999;
      font-size:20px;
      right: 0;
      bottom: 0;
      position: fixed;
      margin-right: 45px;
      display: none;
      }
}