body{
    margin: 40px;
    margin-top: 30px;
    font-family: 'DM Sans', sans-serif;
}
#navigation{
    float: left;
    width: 70%;
    height: 20px;
}
.menu{
    display: flex;
}
.logo{
    width: 120px;
    height: auto;
    padding-left: 10px;
    padding-right: 23px;
  }

  .topTag{
    background: #FFFFFF;
    border-radius: 13px;
    border-width:20px;
    display: inline-block;
    height: 26px;
    width: auto;
    line-height: 26px;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
    margin: 0 10px 10px 0;
    border: #C4C4C4;;
    border-style: solid;
    border-width: 0.5px;
    color: #901C1C;
    font-size: 12px;
    margin-top: 11px;
}



  h1{
      font-size: 36px;
      font-weight: 400;
      color: #901C1C;
      font-style: normal;
  }

  h3{
    font-size: 36px;
    font-weight: 400;
    color: #BF5138;
    line-height: 46.87px;
    font-style: normal;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.location{
    font-size: 13px;
    font-weight: 400;
    color: #901C1C;
    font-style: normal;
    line-height: 16.93px;
    margin-top: -6px;
    margin-bottom: 0px;
}

.description{
    font-size: 10px;
    font-weight: 400;
    color: #000000;
    font-style: normal;
    line-height: 13.02px;
    margin-top: 1px;
}

.rate{
    font-size: 9px;
    font-weight: 400;
    color: #808080;
    font-style: normal;
    line-height: 11.72px;
    margin-top: -6px;
}

.containerColumns{
    display: flex;
    position: relative;
}

.itemColumn{
    width: 500px;
    height: auto;
    background-color: aquamarine;
}

.card{
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.roundPicture{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    display: block;
    margin: 10px auto;
}

p {
    text-align: center;
  }

.tags{
    display: flex;
    position: relative;
    font-weight: 600px;
    font-size: 12px;
    color: #901C1C;
    text-align: center;
    justify-content: center;
}

.hashTag{
    background: #FFFFFF;
    border-radius: 13px;
    border-width:20px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    border: #C4C4C4;;
    border-style: solid;
    border-width: 0.5px;
    color: #901C1C;
    font-size: 12px;
}