body{
  margin: 40px;
  margin-top: 30px;
  font-family: 'DM Sans', sans-serif;
}
.navigation{
  float: left;
  width: 70%;
  height: 20px;
}

/**:focus {
outline:none;
}*/
.menu{
  display: flex;
}
.logo{
  width: 120px;
  height: auto;
  padding-left: 10px;
  padding-right: 23px;
}

.topTag{
  background: #FFFFFF;
  border-radius: 13px;
  border-width:20px;
  display: inline-block;
  height: 26px;
  width: auto;
  line-height: 26px;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  margin: 0 10px 10px 0;
  border: #C4C4C4;;
  border-style: solid;
  border-width: 0.5px;
  color: #901C1C;
  font-size: 12px;
  margin-top: 11px;
}

.topTag:hover{
  background-color: #901C1C;
  color:#FFFFFF;

}



h1{
    font-size: 36px;
    font-weight: 400;
    color: #901C1C;
    font-style: normal;
}

h3{
  font-size: 36px;
  font-weight: 400;
  color: #BF5138;
  line-height: 46.87px;
  font-style: normal;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.location{
  font-size: 13px;
  font-weight: 400;
  color: #901C1C;
  font-style: normal;
  line-height: 16.93px;
  margin-top: -6px;
  margin-bottom: 0px;
}

.description{
  font-size: 10px;
  font-weight: 400;
  color: #000000;
  font-style: normal;
  line-height: 13.02px;
  margin-top: 1px;
}

.rate{
  font-size: 9px;
  font-weight: 400;
  color: #808080;
  font-style: normal;
  line-height: 11.72px;
  margin-top: -6px;
}

.containerColumns{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.itemColumn{
  width: 500px;
  height: auto;
}

.card{
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}

.show {
display: block;
}
.roundPicture{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  display: block;
  margin: 10px auto;
  object-fit: cover;
}

p {
  text-align: center;
}

.tags{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  font-weight: 600px;
  font-size: 12px;
  color: #901C1C;
  text-align: center;
  justify-content: center;
}

.hashTag{
  background: #FFFFFF;
  border-radius: 13px;
  border-width:20px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 5px 0 5px;
  position: relative;
  margin: 0 10px 10px 0;
  border: #C4C4C4;;
  border-style: solid;
  border-width: 0.5px;
  color: #901C1C;
  font-size: 12px;
}

.hashTag:hover{
  background-color: #901C1C;
  color: #FFFFFF;

}

/*Profile Page Styles*/

.navigationProfile{
  width: 70%;
  height: 20px;
  margin-bottom: 50px;
}
/*Filters section*/
.containerColumnsFilter{
  display: flex;
}

.itemColumnFilter{
  height: auto;
  background-color: #FFFFFF;
}

.cardPicture{
  background-color: #FFFFFF;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cardPictureProfile{
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

/*Pictures Section*/

.containerColumnsPicture{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 20px;
}

.itemColumnPicture{
  width: 500px;
  height: auto;
  background-color:#FFFFFF;
}

.cardDisplay{
  background-color: #FFFFFF;
  width: 90%;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

}

.monoId{
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  color: #BF5138;
  text-align: left !important; /*Over writes*/
  margin-left: 25px !important;
  margin-top: 7px;
  margin-bottom: 7px;
}

.monoLocation{
 font-size: 24px !important;
 font-style: normal;
 font-weight: 400;
 color: #901C1C;
 margin-left: 25px !important;
 text-align: left !important; 
 margin-top: 1px !important;
 margin-bottom: 1px !important;
}

.monoDescription{
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  color: #525252;
  margin-left: 25px !important;
  text-align: left !important; 
  margin-top: 7px !important;
  margin-bottom: 7px !important;
}
.monotags{
  margin-left: 22px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.containerFreelancers{
background-color:#FFFFFF;
}

.hashTagPro{
  background: #FFFFFF;
  border-radius: 13px;
  border-width:20px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 8px 0 8px;
  position: relative;
  margin: 0 10px 10px 0;
  border: #C4C4C4;;
  border-style: solid;
  border-width: 0.5px;
  color: #901C1C;
  font-size: 12px;
}

.hashTagPro:hover{
  background-color: #901C1C;
  color: #FFFFFF;
}

.contactButton{
background-color: #901C1C; 
border-color: #901C1C; 
border-style: solid;
border-radius: 5px;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
font-size: 16px;
margin: 40px 2px;
cursor: pointer;
}

.contactButton:hover{
  background-color: #D3573C;
  color: #000000;
  border-color: #D3573C;
  border-style: solid;
}

.roundPictureIndividual{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  display: block;
  margin-right: 25px;
  object-fit: cover;

}

.filterContainer{
  height: auto;
}

.filterBox{
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.orderBy{
  margin-left:10px;
  margin-right: 10px;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

/*Dropdown*/
.custom-select{
  width:120px;
  position: relative;
}

.custom-select select {
  display: none; 
}

.select-selected {
  background-color: #901C1C !important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #FFFFFF;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  background-color: #901C1C;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #901C1C;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  margin-top:-3px;
}

/*hide the items when the select box is closed:*/
.select-hide, .same-as-selected {
  display: none;
}

.carrouselDescription{
    display: flex;
    position: relative;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;

}

.numbertext{
  color: #901C1C;
  font-weight: 600;
  font-style: normal;
}

.colName{
width: 60%;
padding-left: 13px;
font-size: 13px;
font-style: normal;
font-weight: 600;
color: #901C1C;
}

.colPrice{
 width: 20%;
 padding-left: 12px;
 font-size: 13px;
 font-style: normal;
 font-weight: 600;
 color: #901C1C; 
 text-align: right;
}

.colLike{
  width: 20%;
  padding-left: 12px;
  padding-right: 16px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  color: #901C1C;
  text-align: right;
 }

.squarePicture{
  width: 90%;
  height: 300px;
  display: block;
  margin: 0px auto;
  object-fit: cover;
}


/*Floating Tab*/

.BackButton{
width:200px;
height:45px;
background-color:#DB8876;
color:#000000;
border-radius:8px;
text-align:center;
box-shadow: 2px 2px 3px #999;
font-size:20px;
right: 0;
bottom: 0;
position: fixed;
margin-right: 45px;
}

.containerFloat{
display: flex;
position: relative;
}

.columnNumer{
width: 70%;
font-style: normal;
font-weight: 400;
color: #000000;
text-align: right;
padding-right: 20px;
justify-content: center;
padding-top: 10px;
}

.columnRate{
width: 30%;
font-style: normal;
font-weight: 400;
color: #901C1C;
text-align: right;
padding-right: 20px;
justify-content: center;
padding-top: 10px;
}

/*Modal*/
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modalDisplay {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #FFFFFF;
  overflow: inherit;
  justify-content: center;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}


 
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #901C1C;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: transparent;
}


.caption-container {
  height: auto;
  text-align: left;
  padding: 2px 16px;
  margin-top: -9px;
}

.caption{
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #901C1C;
  text-align: left !important;
  margin-left: 195px !important;
}

.imgShow{
  width: 90vmin;
  height: 80vh;
  display: block;
  margin: 10px auto;
  object-fit: contain;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.navbar-small h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}

#btnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profileDescription {
  display: flex;
  width: 80%;
}